body {
    /*width: 1200px;
    margin: 0 auto;*/
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Gill Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #ffffff;
    background-color: #849d8f;
}

a {
    color: inherit;
}

a:hover, a:focus, a:active {
    color:#ffbc9e;
}

.user_input{
    border:1px solid #d3d3d2;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #323232;
}


.wrapper_central {
    /*width: 1150px;
    margin: 0 auto;*/
}

.visually_hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1;
    height: 1;
    margin: -1;
}

.not_visible {
    display: none;
}

.main_nav_list_item {
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

.main_nav_list_item>a:hover {
    padding: 10px;
    color: #323232;
    border-radius: 20px;
    background-color: #f8f7f4;
}

.main_nav_list_item>a:active {
    box-shadow: inset 0px 2px 1px 0px #323232;
}

.catalog_menu_dropdown{
    list-style: none;
    color: #323232;
    background-color: #f8f7f4;
}

.catalog_menu_dropdown a:hover, .main_nav_catalog_dropdown a:focus{
    color: #323232;
    background-color: #fbded7; 
}

.catalog_menu_dropdown a:active {
    color: #323232;
    background-color: #f6b5a5; 
}

.catalog_menu_dropdown {
    display: none;
    position: relative;
}

.catalog_menu:hover .catalog_menu_dropdown{
    display: inline-block;
    position: absolute;
    top: 105px;
    left: 40px;
}

.user_nav_item {
    position: relative;
}

.nav_form_wrap {
    position: absolute;
}

.user_nav_item:hover .nav_form_wrap{
    display: inline-block;
}


.user_nav_button {
    padding: 10px;
    border-radius: 20px; 
    font: inherit;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);
}

.user_nav_button:hover {
    color: #323232;
    background-color: #f8f7f4;
}

.nav_form_wrap {
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color: #323232;
    background-color: #f8f7f4;
    display: none;
}

.nav_form_wrap b {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
}

.nav_auth_links_item {
    line-height: 24px;
    text-decoration: underline;
}

.cart_item_kilo_price{
    color: #999999;
}

.phone_contacts{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.phone_contacts span:nth-of-type(2) {
    font-size: 22px;
    line-height: 24px;
}

.promo_content {
    text-align: center;
}

.promo_content_item figcaption {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}

.promo_button {
    font: inherit;
    font-size: 32px;
    line-height: 44px;
}

input[name="promo_control"] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    color: transparent;
    border-radius: 50%;    
}

input[name="promo_control"]:checked {
    background: #ffffff;
}

input[name="promo_control"]:hover {
    background: rgba(248,247,244,0.4);
}



.button_go {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font: inherit; 
    font-weight: bold; 
    color: #ffffff;    
    background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242,104,67) 100%);
    background-color: rgb(231, 74, 53);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button_go:hover,.button_go:focus {
    background-image: linear-gradient( 90deg, rgb(236,111,94) 0%, rgb(245,134,105) 100%);
}

.button_go:active {
    background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242,104,67) 100%);
    box-shadow: inset 0px 2px 1px 0px #942718;
}

.bonus_list_item {
    list-style: none;
}

.bonus_raspberry {
    background-image: url("../img/raspberries_back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #b3304c;
}

.bonus_chocolate {
    background-image: url("../img/chocolate_back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #42291d;
}

.bonus_list_item h3 {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

.bonus_list_item p {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.catalog_list_item {
    list-style: none;
    font-weight: 500;
}

.catalog_list_item:hover {
   background-color: rgba(248, 247, 244, 0.2);
   box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}

.catalog_list_item_img_container div {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
}

.catalog_list_item_img_container span {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
}


.catalog_list_item_hover {
    text-align: center;
}  

.catalog_list_item_hover_button {
    display: none;
}

.catalog_list_item:hover  .catalog_list_item_hover_button{
    display: inline-block;
}   

.about_us {
    color: #323232;
    background-color: #eaddc1;
    background-image: url("../img/waffle_back.jpg");  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about_us h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.communication {
    color: #323232;
}

.communication_blog {
    background-color: #ffffff;
    background-image: url("../img/blog_back.jpg");  
    background-repeat: no-repeat;
    background-position: center;
}

.communication_blog p {
    font-weight: 500;
}

.communication_blog h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.communication_mailing {
    background-color: #f8f7f4;
}

.contacts {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.company_social {
    list-style: none;
}

.company_info{
    list-style: none;
    font-size: 13px;
    line-height: 18px;
}

.made_by{
    font-size: 12px;
    line-height: 18px;
}

.feedback{
    background-color: #f8f7f4;
    color: #323232;
}

.feedback p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.catalog_page .catalog_menu_control {
    background-color: #d07058;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
}


.catalog_page .catalog_menu_dropdown_selected {
    background-color: #d07058;
    color: #ffffff;
}

.catalog_page .secondary_nav_breadcrumbs {
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

.catalog_page .secondary_nav h2 {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

.catalog_page .product_filter {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
}

.product_filter fieldset {
    border: none;
}

.catalog_page .product_filter_price_range_line {
    position: relative;
    width: 130px;
    height: 5px;
    border-radius: 7px;
    box-shadow: inset 0 1px 1px 0 #595959;
    background: #bfbfbf;
}

.catalog_page .product_filter_price_range_control {
    position: absolute;
    top: -6px;
    width: 13px;
    height: 13px;
    border: 1px solid #969696;
    border-radius: 100%;
    content: " ";
    background: #f4f4f4;
    outline: none;
}

.catalog_page .product_filter_price_range_control:focus,
.product_filter_price_range_control:hover {
    box-shadow: 0 0 1px 1px #969696;

}

.catalog_page .product_filter_price_range_control:first-child {
    left: 20px;
}

.catalog_page .product_filter_price_range_control:nth-child(2) {
    left: 70px;
}

.catalog_page .filter_criteria_name {
    font-size: 14px;
    line-height: 16px;
}

.catalog_page .product_filter_control {
    background: rgba(248,247,244,0.2);
    display: inline-block;
    border-radius: 20px;
}

.catalog_page .product_filter_price_range {
    padding: 10px; /*временно, чтобы было видно бэкграунд*/
}

.catalog_page .product_filter_control input[type="radio"] {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/radio-off-80.png") no-repeat center center;
    background-size: cover;
}

.catalog_page .product_filter_control input[type="radio"]:checked {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/radio-on-100.svg") no-repeat center center;
    background-size: cover;
}

.catalog_page .product_filter_control input[type="radio"]:hover {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/radio-off-100.svg") no-repeat center center;
    background-size: cover;
}

.catalog_page .product_filter_control input[type="radio"]:disabled {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/radio-off-40.svg") no-repeat center center;
    background-size: cover;
}

.catalog_page .product_filter_control input[type="checkbox"] {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/checkbox-off-80.png") no-repeat center center;
    background-size: cover;
}

.catalog_page .product_filter_control input[type="checkbox"]:checked {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/checkbox-on-100.svg") no-repeat center center;
    background-size: cover;
}

.catalog_page .product_filter_control input[type="checkbox"]:hover {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/checkbox-off-100.svg") no-repeat center center;
    background-size: cover;
}

.catalog_page .product_filter_control i nput[type="checkbox"]:disabled {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/checkbox-on-40.png") no-repeat center center;
    background-size: cover;
}

.catalog_page .submit_filter {
    border: 2px solid #ffffff;
    font: inherit;
    color: inherit;
}

.catalog_page .submit_filter:hover {
    color: #323232;
    background-color: #f8f7f4;
}

.catalog_page .submit_filter:active {
    border: none;
    box-shadow: inset 0px 2px 1px 0px #323232;
}

.catalog_page .product_filter_sort select {
    -webkit-appearance: none;
    border: none;
    border-radius: 20px;
    height: 30px;
    background: rgba(248,247,244,0.2);
    color: #ffffff;
}

.catalog_page .product_result_page_nav_list {
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.catalog_page .product_result_page_nav_list a:hover {
    padding: 5px 10px;
    border-radius: 50%;
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);
 }

.catalog_page .product_result_page_nav_selected {
    padding: 5px 10px;
    border-radius: 50%;
    color: #323232;
    background-color: #ffffff;  
} 

