*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;  
    font-weight: normal;
    color: #ffffff;
    background: #849d8f;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}

a:hover, a:focus, a:active {
    color:#ffbc9e;
}

img {
    max-width: 100%;
    height: auto;
}

.user_input {
    height: 44px;
    width: 100%;
    padding-left: 14px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #323232;
}

.button_go {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    line-height: 24px; 
    font-weight: bold; 
    color: #ffffff;    
    background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242,104,67) 100%);
    background-color: rgb(231, 74, 53);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.wrapper_central {
    width: 1146px;
    margin: 0 auto;
}
  
.cite_wrapper { 
    min-width: 1200px;
    background: #849d8f url("../img/two_ice_creams_1.png") no-repeat top center;
}

.darkening_wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0,0,0,0.3);
    display: none;
}


/*.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
position: absolute;

width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;

clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}*/


.visually_hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1;
    height: 1;
    margin: -1;
}

.not_visible {
    display: none;
}

/*-----------------header-----------------------*/

.main_header {
    position: relative;
    margin-bottom: 25px;
}

.main_header .wrapper_central {
    position: relative;
}

.main_nav .wrapper_central {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main_nav_list {
    width: 406px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_logo {
    width: 154px;
    height: 64px; 
    margin-top: 9px;   
}

.main_nav_list_item {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    margin-left: -4px;
}

li.main_nav_list_item:first-of-type {
    margin-left: 10px;
}

.main_nav_list_item a {
    padding: 7px 14px;
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255, 0.5);
}

.main_nav_list_item > a:hover {
    color: #323232;
    border-radius: 20px;
    background-color: #f8f7f4;
    text-decoration:none;
}

.main_nav_list_item > a:active {
    box-shadow: inset 0px 2px 1px 0px #323232;
}

.catalog_menu {
    position: relative;
}

.catalog_menu_control {
    color: #ffffff;
    border-radius: 20px;
}

.catalog_menu_dropdown_wrapper {
    display: none;
    position: absolute;
    z-index: 15;
    top: 27px;
    left: 0;
    width: 145px;
    padding-top: 4px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    background: transparent;
}

.catalog_menu_dropdown {
    background-color: #f8f7f4;
    border-radius: 5px;
    list-style: none;
    padding: 0px;
}

.catalog_menu:hover .catalog_menu_dropdown_wrapper {
    display: block;
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.4);
}

.catalog_menu:hover .catalog_menu_control {
    padding: 7px 14px;
    color: #323232;
    border-radius: 20px;
    background-color: #f8f7f4;
    text-decoration: none;
}

.catalog_menu_dropdown a {
    display: block;
    text-decoration: none;
}

.catalog_menu_dropdown li:first-child a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
} 

.catalog_menu_dropdown li:last-child a {  
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

a.catalog_menu_dropdown_novelties {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: bold;
}

.catalog_menu_dropdown a:hover, .main_nav_catalog_dropdown a:focus {
    color: #323232;
    background-color: #fbded7; 
}

.catalog_menu_dropdown a:active {
    color: #323232;
    background-color: #f6b5a5;

}

/*--usernav--*/

.user_nav {
    display: flex;
    margin-left: auto;
    margin-top: 5px;
    flex-wrap: wrap;
    width: 272px;
    justify-content: space-between;
    align-items: center;
}

.user_nav_item {
    position: relative;
    margin-left: 9px;   
    padding: 8px 17px 8px 44px;
    border: none;
    border-radius: 20px; 
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);
}

.user_nav_item:hover {
    color: #323232;
    background-color: #f8f7f4;
}

.user_nav_item:hover .nav_form_wrap {
    display: block;
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.4);
}

.nav_form_wrap {
    position: absolute;
    top: 32px;
    right: 0px;
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color: #323232;
    display: none;
    z-index: 10;
    padding-top: 4px;   
    background: transparent; 
}

.nav_form_wrap form {
    background-color: #f8f7f4;
    border-radius: 5px;
}

.nav_form_wrap b {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
}

.nav_search {
    padding: 16px;
    flex-grow: 0;
    flex-basis: 33px;
}

.nav_search::before {
    position: absolute;
    top: 7px;
    left: 8px;
    width: 17px;
    height: 17px;
    content: "";
    background: url("../img/search_icon.svg") no-repeat 0 0;
}

.nav_search:hover::before {
    background: url("../img/search_icon_dark.svg") no-repeat 0 0;
}

.nav_search .nav_form_wrap {
    width: 341px;
}

.nav_search_form {
    padding: 20px 15px;
}

.nav_auth {
    flex-basis: 92px;
}

.nav_auth::before {
    position: absolute;
    left: 16px;
    bottom: 7px;
    width: 21px;
    height: 19px;
    content: "";
    background: url("../img/auth_icon.svg") no-repeat 0 0;
}

.nav_auth:hover::before {
    background: url("../img/auth_icon_dark.svg") no-repeat 0 0;
}

.nav_auth .nav_form_wrap {
    width: 277px;
}

.nav_auth_form {
    padding: 20px 19px 17px;
}

.nav_auth_user_email, .nav_auth_user_password {
    padding-bottom: 20px; 
}

.nav_auth_links {
    display: inline-block;
    width: 138px;
    padding-left: 18px;
    vertical-align: bottom;
    text-align: left;
}

.nav_auth_links_item {
    line-height: 24px;
    text-decoration: underline;
}

.nav_cart {
    flex-grow: 1;
}

.nav_cart.empty::before {
    content: "";
    width: 21px;
    height: 20px;
    bottom: 6px;
    left: 16px;
    position: absolute;
    background: url("../img/basket_empty_icon.svg") no-repeat 0 0;
}

.nav_cart.empty:hover::before {
    background: url("../img/basket_icon_dark.svg") no-repeat 0 0;
}

.nav_cart.full {
    color: #323232;
    background-color: #f8f7f4;
}

.nav_cart.full::before {
    content: "";
    width: 21px;
    height: 20px;
    bottom: 6px;
    left: 16px;
    position: absolute;
    background: url("../img/basket_full_icon.svg") no-repeat 0 0;
}

.nav_cart .nav_form_wrap {
    width: 540px;
}

.nav_cart_form {
    padding: 20px 15px;
}

.nav_cart_form table {
    width: 100%;
    border-bottom: 1px solid #cacac7;
    padding-bottom: 10px;
    border-spacing: 0px 8px;
}

.nav_cart_item td:first-child {
    padding-right: 10px;
}

.nav_cart_item td:nth-child(2) {
    width: 42px;
}

.nav_cart_item td:nth-child(3) {
    margin-left: -8px;
}

.nav_cart_item td:nth-child(4) {
    width: 118px;
}

.nav_cart_item td:nth-child(5) {
    width: 70px;
}

.nav_cart_item_close_button {
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.nav_cart_item_close_button::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    background: url("../img/Х.svg") no-repeat center;
}

.nav_cart_item img {
    border-radius: 50%;
}

.nav_cart_form b {
    display: block;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav_cart_form_submit_button {
    display: block;
    margin-left: auto;
}

.cart_item_kilo_price {
    color: #999999;
}

.phone_contacts {
    position: absolute;
    right: 0px;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-align: right;
}

.phone_contacts span:nth-of-type(2) {
    display: inline-block;
    font-size: 22px;
    line-height: 24px;
    margin-top: 4px;
}

/*-------------promo block-----------------------*/

.promo{
    margin-bottom: 42px;
}

.promo .wrapper_central {
    position: relative;
}

.promo_control_wrap {
    position: absolute;
    bottom: 20px;
}

.promo_content {
    text-align: center;
}

.promo_content_item {
    margin: 0;
    padding-top: 292px; /*299*/
    padding-left: 230px;
    padding-right: 230px;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}

.promo_slide_2, .promo_slide_3 {
    display: none;
}

.promo_control_wrap label {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    text-indent: -1000px;
}

.promo_control_wrap label:hover {
    background: rgba(248,247,244,0.4);
}

#promo_control_1:checked ~ .cite_wrapper label[for="promo_control_1"] {
    background-color: #ffffff;
}

#promo_control_2:checked ~ .cite_wrapper label[for="promo_control_2"] {
    background-color: #ffffff;
}

#promo_control_3:checked ~ .cite_wrapper label[for="promo_control_3"] {
    background-color: #ffffff;
}

#promo_control_1:checked ~ .cite_wrapper {
    background: #849d8f url("../img/two_ice_creams_1.png") no-repeat top center;
}

#promo_control_2:checked ~ .cite_wrapper {
    background: #8996a6 url("../img/two_ice_creams_2.png") no-repeat top center;
}

#promo_control_3:checked ~ .cite_wrapper {
    background: #9d8b84 url("../img/two_ice_creams_3.png") no-repeat top center;
}

#promo_control_1:checked ~ .cite_wrapper .promo_slide_1 {
    display: block;
} 

#promo_control_1:checked ~ .cite_wrapper .promo_slide_2, .cite_wrapper .promo_slide_3 {
    display: none;
}

#promo_control_2:checked ~ .cite_wrapper .promo_slide_2 {
    display: block;
} 

#promo_control_2:checked ~ .cite_wrapper .promo_slide_1, .cite_wrapper .promo_slide_3 {
    display: none;
}

#promo_control_3:checked ~ .cite_wrapper .promo_slide_3 {
    display: block;
} 

#promo_control_3:checked ~ .cite_wrapper .promo_slide_1, .cite_wrapper .promo_slide_2 {
    display: none;
}

.promo_button {
    margin-top: 31px;
    padding: 10px 35px;
    font-size: 32px;
    line-height: 44px;
}

.button_go:hover,.button_go:focus {
    background-image: linear-gradient( 90deg, rgb(236,111,94) 0%, rgb(245,134,105) 100%);
}

.button_go:active {
    background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242,104,67) 100%);
    box-shadow: inset 0px 2px 1px 0px #942718;
}

/*----------------bonus block-------------------------*/

.bonus {
    margin-bottom: 40px;
}

.bonus_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.bonus_list_item {
    position: relative;
    flex-basis: 560px;
    font-weight: bold;
    padding: 15px 19px 23px;
    border-radius: 15px;
}

.bonus_raspberry {
    background-image: url("../img/raspberries_back.jpg");
    background-repeat: no-repeat;
    background-position: center left;
    background-color: #b3304c;
}

.bonus_chocolate {
    background-image: url("../img/chocolate_back.jpg");
    background-repeat: no-repeat;
    background-position: center left;
    background-color: #42291d;
}

.bonus_list_item h3 {
    margin: 0;
    font-size: 35px;
    line-height: 41px;
}

.bonus_list_item p {
    margin: 16px 0 91px; /*20px*/
    font-size: 18px;
    line-height: 22px;
}

.bonus_submit {
    position: absolute;
    right: 22px;
    bottom: 26px;
    font-size: 18px;
    line-height: 24px;
}

/*---------------catalog--------------------*/

.catalog {
    margin-bottom: 90px;
}

.catalog_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-bottom: 45px;
    padding-left: 0;
}

.catalog_list_item {
    position: relative;
    width: 267px;
    font-weight: 500;
}

.catalog .catalog_list_item_img_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    background: url("../img/hit_label.svg") no-repeat 0 0;
}

.catalog_list_item_img_container img {
    border-radius: 50%;
}

.catalog_list_item_price {
    position: absolute;
    top: 208px;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
}

.catalog_list_item_price_unit {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
}

.catalog_list_item_price_currency, .catalog_list_item_price_unit {
    margin-left: -7px;
}

.catalog_list_item_link {
    display: block;
    padding: 0 20px;
    text-align: center;
}

.catalog_list_item_hover {
    position: absolute;
    top: -6px;
    left: -13px;
    height: 405px;
    width: 293px;
    border-radius: 5px;
    padding-top: 285px;
    text-align: center;
    background-color: transparent;
    z-index: 10;
}  

.catalog_list_item:hover .catalog_list_item_hover{
    background-color: rgba(248, 247, 244, 0.2);
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}

.catalog_list_item_hover_button {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 46px;
    padding: 10px 14px;
}

.catalog_list_item:hover  .catalog_list_item_hover_button {
    display: inline-block;
}   

/*--------------------about block-------------------------*/

.about_us {
    margin-bottom: 40px;
}

.about_us .wrapper_central {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 306px;
    padding: 25px 20px;
    color: #323232;
    border-radius: 15px;
    background-color: #eaddc1;
    background-image: url("../img/waffle_back.jpg");  
}

.about_us h2 {
    margin: 0;
    flex-basis: 1104px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.about_us_fact {
    flex-basis: 540px;
    margin: 0;
    padding-left: 57px;
    padding-top: 14px;
}

p.about_us_fact:nth-of-type(1) {
    background: url("../img/icecream_icon.svg") no-repeat 0 0;
}

p.about_us_fact:nth-of-type(2) {
    background: url("../img/cow_icon.svg") no-repeat 0 0;
}

p.about_us_fact:nth-of-type(3) {
    background: url("../img/leaf_icon.svg") no-repeat 0 0;
}

p.about_us_fact:nth-of-type(4) {
    background: url("../img/thermometer.svg") no-repeat 0 0;
}

/*------------communication block--------------------------*/

.communication {
    color: #323232;
    margin-bottom: 38px;
}

.communication .wrapper_central {
    display: flex;
    justify-content: space-between;
}

.communication_blog {
    padding: 22px 20px;
    flex-basis: 560px;
    border-radius: 15px;
    background-color: #ffffff;
    background-image: url("../img/blog_back.jpg");  
    background-repeat: no-repeat;
    background-position: 17% 39%;
}

.communication_blog p {
    margin: 0;
    font-weight: 500;
}

.communication_blog h3 {
    width: 280px;
    margin-top: 4px;
    margin-bottom: 58px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.communication_mailing {
    flex-basis: 560px;
    padding: 5px 6px;
    border-radius: 15px;
    color: #5a5a5a;
    /*background-image: repeating-linear-gradient(135deg, #f8f7f4 0px,#f8f7f4 7px, #92cdff 7px, #92cdff 14px,#f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px,#fe9e90 28px);*/
    background: url("../img/mail_back.svg") no-repeat 0 0;

}

.communication_mailing_form {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 21px 36px; 
    background-color: #f8f7f4;
    border-radius: 10px;
}

.communication_mailing_form_p {
    margin-top: 0;
    margin-bottom: 36px;
}

.communication_mailing_form .user_input {
    flex-grow: 1;
    flex-basis: 300px;
    margin-right: 12px;
    padding-left: 16px;
    border-radius: 5px;
}



/*---------------footer-------------------*/

.contacts {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.contacts .wrapper_central{
    position: relative;
    width: 1200px;
    margin: 0 auto;
   
}

.contacts_map {
    width: 1200px;
    height: 430px;
}

.contacts_map::before {
    content: "";
    position: absolute;
    top: 139px;
    left: 266px;
    width: 218px;
    height: 142px;
    background: url("../img/contact_pin.png") no-repeat;
}

.contacts_text {
    position: absolute;
    top:62px;
    right: 27px;
    width: 302px;
    padding: 30px 25px;
    border-radius: 15px;
    background-color: #fefefe;
    color: #323232;
}

.contacts_offline, .contacts_online {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.contacts_offline {
    margin-bottom: 18px;
}

.contacts_online {
    margin-bottom: 24px;
}

.contacts_offline b {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.contacts_online b {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.contacts_feedback {
    display: block;
    margin: 0px auto;   
}

.footer_main .wrapper_central {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 103px;
}

.company_social {
    padding-top: 12px;
    flex-basis: 267px;
    list-style: none;
    padding-left: 0;
    margin: 0; 
}

.company_social_item.twitter {
    background: url("../img/twitter_icon.svg") no-repeat center;
    width: 32px;
    height: 32px;
}

.company_social_item.inst {
    background: url("../img/instagram_icon.svg") no-repeat center;
    width: 32px;
    height: 32px;
}

.company_social_item.vk {
    background: url("../img/vk_icon.svg") no-repeat center;
    width: 32px;
    height: 32px;
}

.company_social_item.fb {
    background: url("../img/fb_icon.svg") no-repeat center;
    width: 32px;
    height: 32px;
}

.company_social_item {
    display: inline-block;
    box-sizing: content-box;
    margin-right: 7px;
    opacity: 0.8;
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 50%;
}

.company_social_item:hover, .company_social_item:focus {
    opacity: 1;
    border: 3px solid rgba(255,255,255,0.7);
}

/*.company_info {
    flex-basis: 340px;
    min-height: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-content: space-between; 
    padding-left: 0;
    margin: 0; 
    list-style: none;
    font-size: 13px;
    line-height: 18px;
    margin-left: -81px;
    margin-top: 5px;
}

.company_info li {
    flex-basis: 170px;
}
*/

.company_info {
    flex-basis: 340px;
    padding-left: 0;
    margin: 0; 
    list-style: none;
    font-size: 13px;
    line-height: 18px;
    margin-left: 6px;
    text-align: left;
}

.company_info li {
    display: inline-block;
    vertical-align: middle;
    margin-left: -23px;
    width: 163px;
}

.company_info_suppliers {
    position: relative;
}

.company_info_suppliers::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -22px;
    width: 15px;
    height: 13px;
    background: url("../img/heart.svg") no-repeat center;
}

.made_by {
    flex-basis: 190px;
    font-size: 12px;
    margin-bottom: 7px;
    line-height: 18px;
}

.made_by p {
    margin: 0;
}

.feedback {
    display: none;
    position: fixed;
    z-index: 50;
    left: 50%;
    top: 50%;
    width: 478px;
    height: 444px;
    margin-left: -239px;
    margin-top: -222px;
    padding: 15px 24px 25px;
    border-radius: 10px;
    background-color: #f8f7f4;
    color: #323232;
}

.feedback_close {
    position: absolute;
    top: 20px;
    right: 26px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.feedback_close::before,
.feedback_close::after {
    position: absolute;   
    content: "";
    width: 20px;
    height: 2px;
    background-color: #323232;
}

.feedback_close::before {
    transform: rotate(45deg);
}
  
.feedback_close::after {
    transform: rotate(-45deg);
}

.feedback p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin: 0 0 23px;   
}

.feedback input {
    width: 266px;
    margin-bottom: 20px;
}

.feedback textarea {
    height: 154px;
}

.feedback_submit {
    display: block;
    margin-left: auto;
    margin-top: 19px;
}

/*----------CATALOG PAGE-----------*/
/*-------------header-------------*/

.catalog_page .catalog_menu_control {
    background-color: #d07058;
    padding: 7px 14px;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
}

.catalog_page .catalog_menu_dropdown_selected {
    background-color: #d07058;
    color: #ffffff;
}

/*-------------secondary nav----------------*/

.secondary_nav {
    margin-bottom: 26px;
}

.secondary_nav_breadcrumbs {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

.secondary_nav_breadcrumbs li {
    display: inline;
}

.secondary_nav_breadcrumbs li>span {
    padding: 0 4px;
}


.secondary_nav h2 {
    margin: 0;
    margin-top: 4px;
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

/*--------------product filter--------------------*/

.product_filter {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
}

.product_filter_form {
    width: 858px;
    min-height: 134px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-end;
}

.product_filter_form > div {
    min-height: 58px;
}

.product_filter_control {
    background: rgba(248,247,244,0.2);
    border-radius: 20px;
}

.product_filter_control input {
    vertical-align: middle;
}

.filter_criteria_name {
    display: block;
    margin-bottom: 7px;
    margin-left: 16px;
    font-size: 14px;
    line-height: 16px;
}

.product_filter fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.product_filter_sort {
    position: relative;
    flex-basis: 193px;
}

.product_filter_sort select {
    -webkit-appearance: none;
    width: 193px;
    padding: 9px 16px;
    border: none;
    color: #ffffff;
}

.product_filter_sort::before {
    position: absolute;
    top: 36px;
    right: 15px;
    content: "";
    border: 10px solid #ffffff;
    border-bottom-width: 0;
    border-right-width: 5px;
    border-left-width: 5px;
    border-left-color: transparent;
    border-right-color: transparent;

}

.product_filter_price {
    flex-basis: 220px;
}

.product_filter_price_range {
    width: 220px;
    padding: 16px 15px;
}

.product_filter_price_range_line {
    position: relative;
    width: 93%;
    margin: 0 auto;
    height: 4px;
    background: #bfbfbf;
    background-image: linear-gradient(to right,rgba(248,247,244,0.5),rgba(248,247,244,0.5) 15%,rgba(248,247,244,1.0) 15%,
    rgba(248,247,244,1.0) 70%,rgba(248,247,244,0.5) 70%,rgba(248,247,244,0.5) 70%);
}

.product_filter_price_range_line::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 7%;
    width: 20px;
    height: 20px;
    background: url("../img/filter-button.svg") no-repeat 0 0;
    background-size: 20px;
    cursor: pointer;
}

.product_filter_price_range_line::after {
    content: "";
    position: absolute;
    top: -8px;
    left: 64%;
    width: 20px;
    height: 20px;
    background: url("../img/filter-button.svg") no-repeat 0 0;
    background-size: 20px;
    cursor: pointer;
}


.product_filter_fat_content {
    flex-basis: 416px;
}

.product_filter_fat_content .product_filter_control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 18px 10px;
    width: 416px;
}

.product_filter_fat_content input+label{
    position: relative;
}

.product_filter_control input[type="radio"]{
    display: none;
}

.product_filter_control input[type="radio"]+label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    border: 3px solid #8ea598;
    box-shadow: 0 0 0 3px rgba(255,255,255,0.8);
    border-radius: 50%;
    margin-right: 13px;
    background: #8ea598; 
}

.product_filter_control input[type="radio"]:checked+label::before {
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 0 3px rgba(255,255,255,0.8);
}

.product_filter_control input[type="radio"]:hover+label::before {
    box-shadow: 0 0 0 3px rgba(255,255,255,1.0);
    background: #8ea598;
}

.product_filter_control input[type="radio"]:checked:hover+label::before {
    box-shadow: 0 0 0 3px rgba(255,255,255,1.0);
    background-color: rgba(255,255,255,1.0);
}

.product_filter_control input[type="radio"]:disabled+label::before {
    box-shadow: 0 0 0 3px rgba(255,255,255,0.4);
    background:#8ea598;
}

.product_filter_control input[type="radio"]:checked:disabled+label::before {
    box-shadow: 0 0 0 3px rgba(255,255,255,0.4);
    background-color: rgba(255,255,255,0.4);
}

.product_filter_fillers {
    flex-basis: 702px;
}

.product_filter_fillers .product_filter_control {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 7px 17px;
    width: 702px;
}

.product_filter_control input[type="checkbox"] {
    display: none;
}

.product_filter_control input[type="checkbox"]+label::before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 22px;
    vertical-align: middle;
    margin-right: 10px;
    background: url("../img/checkbox-off-80.svg") no-repeat 0 1px;
    background-size: 20px 20px;
}


.product_filter_control input[type="checkbox"]:checked+label::before {
    background: url("../img/checkbox-on-100.svg") no-repeat 0 0;
    background-size: 23px 22px;
}

.product_filter_control input[type="checkbox"]:hover+label::before {
    background: url("../img/checkbox-off-100.svg") no-repeat 0 1px;
    background-size: 20px 20px;
}   

.product_filter_control input[type="checkbox"]:checked:hover+label::before {
    background: url("../img/checkbox-on-100.svg") no-repeat 0 0;
    background-size: 23px 22px;
}

.product_filter_control input[type="checkbox"]:disabled {
    background: url("../img/checkbox-on-40.svg") no-repeat 0 0;
    background-size: 23px 22px;
}

.product_filter_control input[type="checkbox"]:checked:disabled+label::before {
    background: url("../img/checkbox-on-40.svg") no-repeat 0 0;
    background-size: 23px 22px;
}

.submit_filter {
    width: 143px;
    height: 36px;
    font: inherit;
    color: inherit;
    background: rgba(248,247,244,0.2);
    border-radius: 20px;
    border: 2px solid #ffffff;
}

.submit_filter:hover {
    color: #323232;
    background-color: #f8f7f4;
}

.submit_filter:active {
    border: none;
    box-shadow: inset 0px 2px 1px 0px #323232;
}

/*------------product result---------------*/

.product_result {
    position: relative;
    margin-bottom: 97px;
}

.product_result .catalog_list_item {
    margin-bottom: 90px;
}

.product_result_page_nav {
    position: absolute;
    right: 88px;
    bottom: -70px;
}

.product_result_page_nav_list {
    margin:0;
    padding-left: 0; 
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500; 
}

.product_result_page_nav_list li {
    display: inline-block;
}

.product_result_page_nav_list_item a {
    padding: 2px 8px;
    text-decoration: none;
}

.product_result_page_nav_list_item a:hover {
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    color: #ffffff;
 }

.product_result_page_nav_list_item.page_selected a {
    border-radius: 50%;
    color: #323232;
    background-color: #ffffff;  
} 

.product_result_page_nav_back a:hover,
.product_result_page_nav_forward a:hover {
    color: inherit;
}

.product_result_page_nav_back a,
.product_result_page_nav_forward a  {
    font-size: 0;
}

.product_result_page_nav_back a::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -20px;
    width: 8px;
    height: 12px;
    opacity: 0.2;
    background:  url("../img/icon-left-small.svg") no-repeat 0 0; 
    transform: rotate(180deg);
}

.product_result_page_nav_forward a::before {
    content: "";
    position: absolute;
    top: 3px;
    right: -21px;
    width: 8px;
    height: 12px;
    background:  url("../img/icon-right-small.svg") no-repeat 0 0; 
}

.catalog_page_footer .wrapper_central{
    border-top: 1px solid rgba(255,255,255,0.3);
}