*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;  
    font-weight: normal;
    color: #ffffff;
    background: #849d8f;
}

a {
    color: inherit;
    cursor: pointer;
}

a:hover, a:focus, a:active {
    color:#ffbc9e;
}

img {
    max-width: 100%;
    height: auto;
}

.user_input {
    border:1px solid #d3d3d2;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #323232;
}

.button_go {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    line-height: 24px; 
    font-weight: bold; 
    color: #ffffff;    
    background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242,104,67) 100%);
    background-color: rgb(231, 74, 53);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}


.wrapper_central {
    width: 1146px;
    margin: 0 auto;
}
  
.cite_wrapper{
    min-width: 1200px;
    background: #849d8f url("../img/two_ice_creams_1.png") no-repeat top center;
}
/*.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
position: absolute;

width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;

clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}*/


.visually_hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1;
    height: 1;
    margin: -1;
}

.not_visible {
    display: none;
}

/*-----------------header-----------------------*/

.main_header {
    position: relative;
    margin-bottom: 25px;
}

.main_header .wrapper_central {
    position: relative;
}

.main_nav .wrapper_central {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main_nav_list {
    width: 406px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_logo {
    width: 154px;
    height: 64px; 
    margin-top: 9px;   
}

.main_nav_list_item {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    margin-left: -4px;
}

li.main_nav_list_item:first-of-type {
    margin-left: 10px;
}

.main_nav_list_item a {
    padding: 7px 14px;
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255, 0.5);
}

.main_nav_list_item > a:hover {
    color: #323232;
    border-radius: 20px;
    background-color: #f8f7f4;
    text-decoration:none;
}

.main_nav_list_item > a:active {
    box-shadow: inset 0px 2px 1px 0px #323232;
}

.catalog_menu {
    position: relative;
}

.catalog_menu_control {
    color: #ffffff;
    border-radius: 20px;
}

.catalog_menu_dropdown {
    display: none;
    position: absolute;
    top: 26px;
    left: 0;
    width: 145px;
    padding: 0px;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    background-color: #f8f7f4;
}

.catalog_menu:hover .catalog_menu_dropdown {
    display: block;
}

.catalog_menu:hover .catalog_menu_control {
    padding: 7px 14px;
    color: #323232;
    border-radius: 20px;
    background-color: #f8f7f4;
    text-decoration: none;
}


.catalog_menu_dropdown a {
    display: block;
    text-decoration: none;
}

a.catalog_menu_dropdown_novelties {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: bold;
}

.catalog_menu_dropdown a:hover, .main_nav_catalog_dropdown a:focus {
    color: #323232;
    background-color: #fbded7; 
}

.catalog_menu_dropdown a:active {
    color: #323232;
    background-color: #f6b5a5; 
}


.user_nav {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    width: 267px;
    justify-content: space-between;
    align-items: center;
}

.user_nav_item {
    position: relative;
    margin-left: 9px;   
    flex-basis: 93px;
}

div.user_nav_item:first-of-type {
    flex-basis: 33px;
}

div.user_nav_item:last-of-type {
    flex-grow: 1;
}

.user_nav_item:hover .nav_form_wrap {
    display: inline-block;
}

.user_nav_button {
    width: 100%;
    padding: 8px 17px 8px 38px;
    border: none;
    border-radius: 20px; 
    font: inherit;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);
}

.nav_search {
    padding: 16px;
    background: rgba(255,255,255,0.2) url("../img/search_icon.svg") no-repeat 50% 50%;
}

.nav_search:hover {
    background: #f8f7f4 url("../img/search_icon_dark.svg") no-repeat 50% 50%;
}

.nav_auth {
    background: rgba(255,255,255,0.2) url("../img/auth_icon.svg") no-repeat 14px 50%;
}

.nav_auth:hover {
    background: #f8f7f4 url("../img/auth_icon_dark.svg") no-repeat 14px 50%;
}

.nav_cart.empty {
    background: rgba(255,255,255,0.2) url("../img/basket_empty_icon.svg") no-repeat 14px 50%;
}

.nav_cart.empty:hover {
    background: #f8f7f4 url("../img/basket_icon_dark.svg") no-repeat 14px 50%;
}

.nav_cart.full {
    background: #f8f7f4 url("../img/basket_full_icon.svg") no-repeat 14px 50%;
    color: #323232;
}

.user_nav_button:hover {
    color: #323232;
    background-color: #f8f7f4;
}

.nav_form_wrap {
    position: absolute;
    right: 0px;
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color: #323232;
    background-color: #f8f7f4;
    display: none;
}

.nav_form_wrap b {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
}

.nav_auth_links_item {
    line-height: 24px;
    text-decoration: underline;
}

.cart_item_kilo_price {
    color: #999999;
}

.phone_contacts {
    position: absolute;
    right: 0px;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-align: right;
}

.phone_contacts span:nth-of-type(2) {
    display: inline-block;
    font-size: 22px;
    line-height: 24px;
    margin-top: 4px;
}

/*-------------promo block-----------------------*/

.promo{
    margin-bottom: 42px;
}

.promo .wrapper_central {
    position: relative;
}

.promo_control_wrap {
    position: absolute;
    bottom: 18px;
}

.promo_content {
    text-align: center;
}

.promo_content_item {
    margin: 0;
    padding-top: 295px; /*299*/
    padding-left: 230px;
    padding-right: 230px;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}

.promo_slide_2, .promo_slide_3 {
    display: none;
}

.promo_control_wrap label {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    text-indent: -1000px;
}

.promo_control_wrap label:hover {
    background: rgba(248,247,244,0.4);
}

#promo_control_1:checked ~ .cite_wrapper label[for="promo_control_1"] {
    background-color: #ffffff;
}

#promo_control_2:checked ~ .cite_wrapper label[for="promo_control_2"] {
    background-color: #ffffff;
}

#promo_control_3:checked ~ .cite_wrapper label[for="promo_control_3"] {
    background-color: #ffffff;
}

#promo_control_1:checked ~ .cite_wrapper {
    background: #849d8f url("../img/two_ice_creams_1.png") no-repeat top center;
}

#promo_control_2:checked ~ .cite_wrapper {
    background: #8996a6 url("../img/two_ice_creams_2.png") no-repeat top center;
}

#promo_control_3:checked ~ .cite_wrapper {
    background: #9d8b84 url("../img/two_ice_creams_3.png") no-repeat top center;
}

#promo_control_1:checked ~ .cite_wrapper .promo_slide_1 {
    display: block;
} 

#promo_control_1:checked ~ .cite_wrapper .promo_slide_2, .cite_wrapper .promo_slide_3 {
    display: none;
}

#promo_control_2:checked ~ .cite_wrapper .promo_slide_2 {
    display: block;
} 

#promo_control_2:checked ~ .cite_wrapper .promo_slide_1, .cite_wrapper .promo_slide_3 {
    display: none;
}

#promo_control_3:checked ~ .cite_wrapper .promo_slide_3 {
    display: block;
} 

#promo_control_3:checked ~ .cite_wrapper .promo_slide_1, .cite_wrapper .promo_slide_2 {
    display: none;
}

.promo_button {
    margin-top: 27px;
    padding: 10px 40px;
    font-size: 32px;
    line-height: 44px;
}



.button_go:hover,.button_go:focus {
    background-image: linear-gradient( 90deg, rgb(236,111,94) 0%, rgb(245,134,105) 100%);
}

.button_go:active {
    background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242,104,67) 100%);
    box-shadow: inset 0px 2px 1px 0px #942718;
}

/*----------------bonus block-------------------------*/

.bonus {
    margin-bottom: 40px;
}

.bonus_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.bonus_list_item {
    position: relative;
    flex-basis: 560px;
    font-weight: bold;
    padding: 14px 19px 23px;
    border-radius: 10px;
}

.bonus_raspberry {
    background-image: url("../img/raspberries_back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #b3304c;
}

.bonus_chocolate {
    background-image: url("../img/chocolate_back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #42291d;
}

.bonus_list_item h3 {
    margin: 0;
    font-size: 35px;
    line-height: 41px;
}

.bonus_list_item p {
    margin: 15px 0 91px; /*20px*/
    font-size: 18px;
    line-height: 22px;
}

.bonus_submit {
    position: absolute;
    right: 19px;
    bottom: 23px;
    font-size: 18px;
    line-height: 24px;
}

/*---------------catalog--------------------*/

.catalog {
    margin-bottom: 92px;
}

.catalog_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-bottom: 45px;
    padding-left: 0;
}

.catalog_list_item {
    position: relative;
    width: 267px;
    font-weight: 500;
}


.catalog_list_item_img_container img {
    border-radius: 50%;
}

.catalog_list_item_price {
    position: absolute;
    top: 214px;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
}

.catalog_list_item_price span {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
}

.catalog_list_item_link {
    display: block;
    text-align: center;
}

.catalog_list_item_hover {
    position: absolute;
    top: -6px;
    left: -13px;
    height: 405px;
    width: 293px;
    border-radius: 5px;
    padding-top: 290px;
    text-align: center;
    background-color: transparent;
    z-index: 10;
}  

.catalog_list_item:hover .catalog_list_item_hover{
    background-color: rgba(248, 247, 244, 0.2);
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}

.catalog_list_item_hover_button {
    display: none;
    margin-top: 14px;
}

.catalog_list_item:hover  .catalog_list_item_hover_button {
    display: inline-block;
}   

/*--------------------about block-------------------------*/

.about_us {
    margin-bottom: 40px;
}

.about_us .wrapper_central {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 306px;
    padding: 25px 20px;
    color: #323232;
    border-radius: 15px;
    background-color: #eaddc1;
    background-image: url("../img/waffle_back.jpg");  
}

.about_us h2 {
    margin: 0;
    flex-basis: 1104px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.about_us_fact {
    flex-basis: 540px;
    margin: 0;
    padding-left: 57px;
    padding-top: 14px;
}

p.about_us_fact:nth-of-type(1) {
    background: url("../img/icecream_icon.svg") no-repeat 0 0;
}

p.about_us_fact:nth-of-type(2) {
    background: url("../img/cow_icon.svg") no-repeat 0 0;
}

p.about_us_fact:nth-of-type(3) {
    background: url("../img/leaf_icon.svg") no-repeat 0 0;
}

p.about_us_fact:nth-of-type(4) {
    background: url("../img/thermometer.svg") no-repeat 0 0;
}

/*------------communication block--------------------------*/

.communication {
    color: #323232;
    margin-bottom: 40px;
}

.communication .wrapper_central {
    display: flex;
    justify-content: space-between;
}

.communication_blog {
    padding: 23px 20px;
    flex-basis: 560px;
    border-radius: 15px;
    background-color: #ffffff;
    background-image: url("../img/blog_back.jpg");  
    background-repeat: no-repeat;
    background-position: 17% 39%;
}

.communication_blog p {
    margin: 0;
    font-weight: 500;
}

.communication_blog h3 {
    width: 280px;
    margin-top: 4px;
    margin-bottom: 58px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.communication_mailing {
    flex-basis: 560px;
    padding: 5px 6px;
    background-color:  #942718; /*временно!*/
    border-radius: 15px;
    color: #5a5a5a;
}

.communication_mailing_form {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 21px 36px; 
    background-color: #f8f7f4;
    border-radius: 10px;
}

.communication_mailing_form_p {
    margin-top: 0;
    margin-bottom: 36px;
}

.communication_mailing_form .user_input {
    flex-grow: 1;
    margin-right: 12px;
    padding-left: 16px;
    border-radius: 5px;
}



/*---------------footer-------------------*/

.contacts {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.contacts .wrapper_central{
    position: relative;
    width: 1200px;
    margin: 0 auto;
   
}

.contacts_map {
    width: 1200px;
    height: 430px;
}

.contacts_map::before {
    content: "";
    position: absolute;
    top: 139px;
    left: 266px;
    width: 218px;
    height: 142px;
    background: url("../img/contact_pin.png") no-repeat;
}

.contacts_text {
    position: absolute;
    top:62px;
    right: 27px;
    width: 302px;
    padding: 30px 25px;
    border-radius: 15px;
    background-color: #fefefe;
    color: #323232;
}

.contacts_offline, .contacts_online {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.contacts_offline {
    margin-bottom: 18px;
}

.contacts_online {
    margin-bottom: 24px;
}

.contacts_offline b {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.contacts_online b {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.contacts_feedback {
    display: block;
    margin: 0px auto;   
}

.footer_main .wrapper_central {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 103px;
}

.company_social {
    flex-basis: 267px;
    list-style: none;
    padding-left: 0;
    margin: 0; 
}

.company_social_item.twitter {
    background: url("../img/twitter_icon.svg") no-repeat center;
    width: 32px;
    height: 32px;
}

.company_social_item.inst {
    background: url("../img/instagram_icon.svg") no-repeat center;
    width: 32px;
    height: 32px;
}

.company_social_item.vk {
    background: url("../img/vk_icon.svg") no-repeat center;
    width: 32px;
    height: 32px;
}

.company_social_item.fb {
    background: url("../img/fb_icon.svg") no-repeat center;
    width: 32px;
    height: 32px;
}

.company_social_item {
    display: inline-block;
    box-sizing: content-box;
    margin-right: 10px;
    opacity: 0.8;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 50%;
}

.company_social_item:hover, .company_social_item:focus {
    opacity: 1;
    border: 2px solid rgba(255,255,255,0.7);
}

.company_info {
    flex-basis: 340px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-content: space-between; 
    padding-left: 0;
    margin: 0; 
    list-style: none;
    font-size: 13px;
    line-height: 18px;
}

.company_info li {
    flex-basis: 170px;
}

.company_info_suppliers {
    position: relative;
}

.company_info_suppliers::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -22px;
    width: 15px;
    height: 13px;
    background: url("../img/heart.svg") no-repeat center;
}

.made_by {
    flex-basis: 190px;
    font-size: 12px;
    margin-bottom: 16px;
    line-height: 18px;
}

.made_by p {
    margin: 0;
}

.feedback {
    display: none;
    background-color: #f8f7f4;
    color: #323232;
}

.feedback p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.feedback p {
    margin: 0;
}

/*----------CATALOG PAGE-----------*/
/*-------------header-------------*/

.catalog_page .catalog_menu_control {
    background-color: #d07058;
    padding: 7px 14px;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
}

.catalog_page .catalog_menu_dropdown_selected {
    background-color: #d07058;
    color: #ffffff;
}

/*-------------secondary nav----------------*/

.secondary_nav {
    margin-bottom: 13px;
}

.secondary_nav_breadcrumbs {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

.secondary_nav_breadcrumbs li {
    display: inline;
}

.secondary_nav h2 {
    margin: 0;
    margin-top: 4px;
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

/*--------------product filter--------------------*/

.product_filter {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
}

.product_filter_form {
    width: 858px;
    min-height: 146px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.product_filter_form > div {
    min-height: 58px;
}

.product_filter_control {
    background: rgba(248,247,244,0.2);
    display: inline-block;
    border-radius: 20px;
    vertical-align: middle;
}

.product_filter_control span, .product_filter_control input {
    vertical-align: middle;
}

.filter_criteria_name {
    display: block;
    margin-bottom: 9px;
    margin-left: 16px;
    font-size: 14px;
    line-height: 16px;
}

.product_filter fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.product_filter_sort {
    flex-basis: 193px;
}

.product_filter_sort select {
    -webkit-appearance: none;
    width: 193px;
    padding: 9px 16px;
    border: none;
    color: #ffffff;
}

.product_filter_price {
    flex-basis: 220px;
}

.product_filter_price_range {
    width: 220px;
    padding: 16px 15px;
}

.product_filter_price_range_line {
    position: relative;
    width: 90%;
    height: 4px;
    border-radius: 7px;
    box-shadow: inset 0 1px 1px 0 #595959;
    background: #bfbfbf;
}

.product_filter_price_range_control {
    position: absolute;
    top: -7px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    content: " ";
    background: #f4f4f4;
    outline: none;
    background: url("../img/filter-button.svg") no-repeat center;
    background-size: contain; 
}

.product_filter_price_range_control:focus,
.product_filter_price_range_control:hover {
    box-shadow: 0 0 1px 1px #969696;
}

.product_filter_price_range_control:first-child {
    left: 20px;
}

.product_filter_price_range_control:nth-child(2) {
    left: 70px;
}

.product_filter_fat_content {
    flex-basis: 416px;
}

.product_filter_fat_content .product_filter_control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 7px 14px;
    width: 416px;
}

.product_filter_fat_content input+span{
    margin-left: 5px; 
}

.product_filter_fillers {
    flex-basis: 702px;
}

.product_filter_fillers .product_filter_control {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 7px 16px;
    width: 702px;
}

.product_filter_fillers input+span{
    margin-left: 5px; 
}

.product_filter_control input[type="radio"] {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/radio-off-80.png") no-repeat center center;
    background-size: cover;
}

.product_filter_control input[type="radio"]:hover {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/radio-off-100.svg") no-repeat center center;
    background-size: cover;
}

.product_filter_control input[type="radio"]:checked {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/radio-on-100.svg") no-repeat center center;
    background-size: cover;
}

.product_filter_control input[type="radio"]:disabled {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/radio-off-40.svg") no-repeat center center;
    background-size: cover;
}

.product_filter_control input[type="checkbox"] {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/checkbox-off-80.png") no-repeat center center;
    background-size: cover;
}

.product_filter_control input[type="checkbox"]:hover {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/checkbox-off-100.svg") no-repeat center center;
    background-size: cover;
}

.product_filter_control input[type="checkbox"]:checked {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/checkbox-on-100.svg") no-repeat center center;
    background-size: cover;
}

.product_filter_control input[type="checkbox"]:disabled {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: url("../img/checkbox-on-40.png") no-repeat center center;
    background-size: cover;
}

.submit_filter {
    width: 143px;
    height: 36px;
    padding: 8px 26px 6px;
    font: inherit;
    color: inherit;
    background: rgba(248,247,244,0.2);
    border-radius: 20px;
    border: 2px solid #ffffff;
}

.submit_filter:hover {
    color: #323232;
    background-color: #f8f7f4;
}

.submit_filter:active {
    border: none;
    box-shadow: inset 0px 2px 1px 0px #323232;
}

/*------------product result---------------*/

.product_result .catalog_list_item {
    margin-bottom: 90px;
}

.product_result_page_nav {
    margin-bottom: 35px;
}

.product_result_page_nav_list {
    margin:0;
    padding-left: 0; 
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500; 
}

.product_result_page_nav_list li {
    display: inline-block;
}

.product_result_page_nav_list_item a {
    padding: 5px 10px;
}

.product_result_page_nav_list_item a:hover {
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    color: #ffffff;
    
 }

.product_result_page_nav_list_item.page_selected a {
   /* padding: 5px 10px;*/
    border-radius: 50%;
    color: #323232;
    background-color: #ffffff;  
} 

.product_result_page_nav_back a {
    opacity: 0.2;
}

.product_result_page_nav_back a:hover,
.product_result_page_nav_forward a:hover {
    color: inherit;
}

.catalog_page_footer .wrapper_central{
    border-top: 1px solid rgba(255,255,255,0.3);
}